@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    width: 100%;
    color: #444;
    font-family: "Roboto", sans-serif;
}

header{
    margin: 15px;
    padding: 15px;
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    margin-top: 10px;
    padding-bottom: 30px;
    border-bottom: dotted 2px #227C9D;
}

main {
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 60px;
}

section {
    margin-top: 30px;
    padding-bottom: 30px;
    /* border-bottom: .5px solid #227c9d55;  */
}

h1{
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Cabin Sketch", cursive;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 15px; 
}

.h2-titulo-azul {
    margin-bottom: 30px;
    font-family: "Cabin Sketch", cursive;
    font-size: 26px;
    font-weight: 600;
    color: #227C9D;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px; 
}


.h3-estilo{
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: dotted 1px #227C9D;
    color: #227C9D;
    font-size: 20px;
    font-weight: 500;
}

p {
    padding-bottom: 5px;
    line-height: 24px;

}


/* ESTILO BOTONES */
.botones-accion {
    display: block;
    padding: 8px 15px;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: white;
    letter-spacing: 1.5px;
    border-radius: 2cm;
}
    
.botones-accion:hover {
    padding: 8px 15px;
    color: #444;
    background-color: #D4E09B;
    border-color: #444;
}

#boton-buscar{
    width: 100px;
    padding: 8px 0;
    color: #444;
    background-color: #D4E09B;
    font-size: 13px;
    text-align: center;
}

#boton-buscar:hover{
    background-color: #e3f09c;
    cursor: pointer;
}


/* ESTILO LINK LIBROS */
.estilo-link-libros{
    text-decoration: none;
    color: #444;
}

.estilo-link-libros:hover{
    color: #98a9b0;
    cursor: pointer;
}


/* mostrar, no mostrar secciones */
.mostrar {
    display:initial;
}

.no-mostrar {
    display: none;
}


/* NAVBAR */

/* animación logo */
.animacion-logo {
    text-align: center;
    animation-name: efecto__logo;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; }
  
  @keyframes efecto__logo {
    from {
      transform: rotate(-10deg);
      transform: scale(0.4); }
    to {
      transform: rotate(0deg);
      transform: scale(1); } }
    
/* form buscar */
.contenedor-buscador{
    padding-top: 15px;
    padding-bottom: 15px;
}

.buscador{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.estilo-buscar-box{
    width: 350px;
    margin-right: 6px;
    padding-left: 10px;
}

.estilo-select{
    width: 100px;
    height: 31px;
    margin-right: 6px;
    padding-left: 5px;
}


/* MAIN */

/* seccion lista libros disponibles */
.grid-wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    grid-auto-rows: max-content;
}

.contenedor-por-libro{
    height: max-content;
    margin-bottom: 10px;
}

.libro{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-inline: 15px;
    border: dotted 1px #444;
    list-style-type: none;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
}

.libro a img {
    width: 180px;
    height: auto;
}

.autor-libro {
    font-size: 14px;
    font-weight: 200;

}

/* seccion detalle libro */
.contenedor-imagen-info{
    display: flex;
    flex-direction: row;
    margin-inline: 100px;
}

.precio-libro{
    margin-left: 100px;
    padding-top: 60px;
}

.input-cantidad-libro{
    width: 50px;
    padding-left: 10px;
}

.precio{
    padding-top: 15px;
    font-size: 18px;
}

.contenedor-botones{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.detalle-libro{
    margin-inline: 60px;
}

.sipnosis{
    padding: 30px;
    border: solid .5px gray;
}

.ficha{
    display: inline-block;
    margin-top: 30px;
    padding: 30px;
    border: solid .5px gray;
}

/* alertas */
.alertas-no-mostrar{
    display: none;
}

.alertas-mostrar{
    display: inline-block;
    position: relative;
    top: -710px; 
    left: 850px;

    border: solid 3px #D4E09B;
    padding: 10px;
    font-size: 12px;
}

/* sección resultado búsqueda */
.sin-resultado{
    padding-top: 5px;
    padding-bottom: 30px;
    font-size: 18px;
    letter-spacing: 0.5px;
}

/* carrito */
#info-carrito {
    padding-right: 20px;
}

#icono-carrito:hover{
    cursor: pointer;
    color: gray;
}

#contenedor-detalle-carrito{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 45px;
    padding: 30px 45px;
    border: solid 3px #D4E09B;
}

.detalle-compra-por-libro{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    font-size: 14px;
}

.total-pagar{
    width: 60%;
    margin-bottom: 20px;
    padding: 30px 45px;
    border-left: solid 3px #D4E09B;
    border-bottom: solid 3px #D4E09B;
    border-right: solid 3px #D4E09B;
    font-size: 14px;
    text-align: right;
}

#botones-carrito {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 15px;
    width: 60%;
}


